* {
	border: none;
	font-family: 'Fira Code', 'Symbols Nerd Font Mono';
	font-size: 12px;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
	min-height: 20px;
}

window#waybar {
	background: transparent;
    background-color : alpha(#844444,0.2);
    opacity: 0.7
}

#custom-arch, #workspaces {
	border-radius: 20px;
	background-color: alpha(#422222,0.7);
	color: #febeb4;
	margin-top: 0px;
	margin-right: 10px;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

#custom-arch {
	font-size: 20px;
	margin-left: 0px;
	color: #febeb4;
}

#workspaces button {
	background: alpha(#422222,0);
	color: #febeb4;
}

#cpu, #temperature, #memory, #clock, #backlight, #pulseaudio, #bluetooth, #network, #battery{
	border-radius: 20px;
	background-color: alpha(#422222,0.7);
	color: #ceb4f4;
	margin-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 15px;
}

#backlight, #bluetooth, #temperature{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-right: 5px;
	margin-right: 0
}

#pulseaudio, #network, #memory{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 5px;
}

#cpu{
	border-radius: 0px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0;
	margin-right: 0;
}

#clock {
	margin-right: 0;
    margin-top : 0px;
    margin-bottom : 0px;
}

